@model IEnumerable<DAL.Models.Apartment>

@{
    ViewBag.Title = "Review";
    DAL.Models.User user = ViewBag.User;
    int defaultStars = 0;
}

<div class="row">
    <div style="text-align: center; display: none;" id="alert" class="alert alert-info" role="alert">
        <label id="alert-text"></label>
    </div>
</div>
<div class="row">
    <form id="review-form" style="" class="col-md-8 offset-md-2">
        <div class="form-group" style="margin-top:2rem; margin-bottom:2rem">
            @Html.Label("apartments", "Apartman", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-select" name="apartments" id="apartmentselection">
                    <option selected>Odaberite apartman</option>
                    @if (Model != null && Model.Count() != 0)
                    {
                        foreach (DAL.Models.Apartment apartment in Model)
                        {
                            <option>@apartment.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <fieldset>
            <legend>Recenzija</legend>
            <div style="width: 100%;">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Label("review-stars", "Ocijenite apartman", htmlAttributes: new { @class = "control-label col-md-2" })
                    <select class="form-select" style="width:10%" name="stars" id="starselection">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option selected>5</option>
                    </select>
                </div>
                <div class="form-group">
                    @Html.Label("review-content-label", "Opisite svoje iskustvo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea class="form-control" style="resize:none" maxlength="800" name="reviewcontent" id="reviewcontent" cols="40" rows="8" value=""></textarea>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <div class="col-md-10">
                        <input type="submit" id='btnSubmit' onclick="SubmitReview()" value="Posalji" class="btn btn-primary" style="margin-top:2rem" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!--
<script>
    // radi:
    function Testing() {
        let apartmentSelection = document.getElementById("apartmentselection");
        var selectedApartment = apartmentSelection.options[apartmentSelection.selectedIndex].value;
        if (selectedApartment == "Odaberite apartman") {
            return;
        }
        alert(selectedApartment.toString());
    }
    // radi:
    function Testing2() {
        alert(@user.Id);
    }
    // radi:
    function Testing3() {
        alert(@defaultStars);
    }
    // radi:
    function Testing4() {
        alert($('#reviewcontent').val().toString());
    }
</script>
-->

@section jquery{
    <script>
        function SubmitReview() {

            let apartmentSelection = document.getElementById("apartmentselection");
            var selectedApartment = apartmentSelection.options[apartmentSelection.selectedIndex].value;
            if (selectedApartment == "Odaberite apartman") {
                return;
            }

            let starSelection = document.getElementById("starselection");
            var selectedStars = starSelection.options[starSelection.selectedIndex].value;

            $.ajax({
                url: '@Url.Action("SubmitReview", "Review")',
                data: JSON.stringify({
                    'userId': @user.Id,
                    'apartmentName': selectedApartment.toString(),
                    'stars': Number(selectedStars.toString()),
                    'details': $('#reviewcontent').val().toString()
                }),
                type: "POST",
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
                processData: false,
                success: x => {
                    $('#alert-text').text(x)
                    $('#alert').css('display', "block");
                },
                error: e => {
                    $('#alert-text').text(e);
                    $('#alert').css('display', "block");
                }
            });
        };
    </script>
}
